/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap-reboot.min.css";
@import "//at.alicdn.com/t/font_1492579_xy30oj0v0z.css";
@import "src/var";

.flexSpacer {
  flex-grow: 1;
}

.fluid {
  max-width: 100%;
}

.circle {
  border-radius: 50%;
}

body {
  overflow: hidden;
}

a {
  text-decoration: none;
  color: $primary;
}

a:hover {
  text-decoration: none;
  color: $primary-dark;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

picture {
  display: block;
}

p {
  margin: 0;
}
