<section class="top">
  <header class="top">
    <ul>
      <li
       *ngFor="let mode of modes"
       [class.active]="currentMode===mode.name"
       (click)="selectMode(mode.name)"
      >
        <a href="##">{{ mode.nameDisplay }}</a>
      </li>
    </ul>
  </header>


  <main class="top">
    <ul>
      <li class="topList">
        <article>
          <header class="rank">
            <div class="circle"><h1>1</h1></div>
          </header>
          <div class="avatar">
            <picture>
              ava
            </picture>
          </div>
          <div class="info">
            <h2>PFC</h2>
            <p>rate: <span>1.5</span> stars</p>
            <p>distance: <span>100</span>m </p>
            <div class="tags">
              <h3>tags:</h3>
              <ul>
                <li>sandwitch patato</li>
              </ul>
            </div> 
          </div>
        </article>
      </li>
    </ul>
  </main>


</section>