<section class="app">
  <nav class="app">
    <header>
      <h1>Smart Eatout</h1>
    </header>
    <div class="search">
      <section class="bar">
        <i class="iconfont icon-search"></i>  
        <input class="bar" type="text" maxlength="30" placeholder="Type to search">
      </section>
      <section class="suggestion">
        <i class="iconfont icon-lightbulb"></i>
      </section>
    </div>
    <div class="flexSpacer"></div>
    <footer>
      <a target="_blank" rel="noopener noreferrer" href="https://github.com/valorad/smart-eatout"><i class="iconfont icon-github"></i></a>
    </footer>
  </nav>
  <main class="app">
    <router-outlet></router-outlet>
  </main>
</section>