<section class="index">
  <main class="index">
    
    <section class="panel">
      <lib-tabs [(currentTab)]="currentTab">
        <lib-tab tabName="search" tabTitle="<i class='iconfont icon-search'></i> Search">
          <app-business-list [bList]="businessList" (nextBList)="setNextSearchResult($event)" [(searchTerm)]="blistSearchTerm"></app-business-list>
        </lib-tab>
        <lib-tab tabName="top" tabTitle="<i class='iconfont icon-ranking'></i> Top">
          <app-top [bList]="businessList" (nextTop)="setNextTopResult($event)"></app-top>
        </lib-tab>
        <lib-tab tabName="suggest" tabTitle="<i class='iconfont icon-lightbulb'></i> Suggest">
          <section class="suggestion">
            <i class="iconfont icon-lightbulb"></i>
          </section>
        </lib-tab>

      </lib-tabs>
    </section>

    <section class="weather">
      <div class="icon">
        <picture [title]="weatherInfo?.weather[0]?.description">
          <img src="https://openweathermap.org/img/wn/{{ weatherInfo?.weather[0]?.icon }}@2x.png" [alt]="weatherInfo?.weather?.description" class="fluid">
        </picture>
      </div>
      <div class="info">
        <h1> <span> {{ weatherInfo.main.temp | number:'1.0-0' }} </span> °C</h1>
        <h2>in {{ weatherInfo.name }} </h2>
      </div>

    </section>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map
     [latitude]="currentMapView.latitude"
     [longitude]="currentMapView.longitude"
     [zoom]="currentMapView.zoom"
     [streetViewControl]="false"
    >
    <agm-marker
     [latitude]="currentLocation.coords.latitude"
     [longitude]="currentLocation.coords.longitude"
     [iconUrl] ="
      {
        url: '../../assets/images/position.svg',
        scaledSize: {
          width: 40,
          height: 60
        }
      }"

    ></agm-marker>

    <agm-marker
     *ngFor="let business of businessShowOnMap"
     [latitude]="business.location.coordinates[1]"
     [longitude]="business.location.coordinates[0]"
     [label]="business.label"
    ></agm-marker>

      <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
    </agm-map>

  </main>
  <section class="dialogSuggest">

    <div class="modal micromodal-slide" id="modalSuggest" aria-hidden="true">
      <div class="overlay" tabindex="-1" data-micromodal-close>
        <div class="container" role="dialog" aria-modal="true" aria-labelledby="modalSuggest-title">
          <header class="header">
            <h2 class="title" id="modalSuggest-title">
              Smart Eatout
            </h2>
            <button class="close" aria-label="Close modal" data-micromodal-close></button>
          </header>
          <main class="content" id="modalSuggest-content">
            <app-guidance (nextIdea)="setNextSuggestion($event)"></app-guidance>
          </main>
        </div>
      </div>
    </div>
        
  </section>
</section>