<section class="index">
  <main class="index">
    
    <section class="panel">
      <lib-tabs (nextTab)="switchMapView($event)">
        <lib-tab tabName="search" tabTitle="<i class='iconfont icon-search'></i> Search">
          <app-business-list [bList]="businessList" (nextBList)="setNextSearchResult($event)"></app-business-list>
        </lib-tab>
        <lib-tab tabName="top" tabTitle="Top">
          <app-top [bList]="businessList" (nextTop)="setNextTopResult($event)"></app-top>
        </lib-tab>
        <lib-tab tabTitle="<i class='iconfont icon-lightbulb'></i> Suggest">
          <section class="suggestion">
            <i class="iconfont icon-lightbulb"></i>
          </section>
        </lib-tab>

      </lib-tabs>
    </section>

    <!-- this creates a google map on the page with the given lat/lng from -->
    <!-- the component as the initial center of the map: -->
    <agm-map
     [latitude]="currentMapView.latitude"
     [longitude]="currentMapView.longitude"
     [zoom]="currentMapView.zoom"
     [streetViewControl]="false"
    >
    <agm-marker
     [latitude]="currentLocation.coords.latitude"
     [longitude]="currentLocation.coords.longitude"
     [iconUrl] ="
      {
        url: '../../assets/images/position.svg',
        scaledSize: {
          width: 40,
          height: 60
        }
      }"

    ></agm-marker>

    <agm-marker
     *ngFor="let business of businessShowOnMap"
     [latitude]="business.location.coordinates[1]"
     [longitude]="business.location.coordinates[0]"
     [label]="business.label"
    ></agm-marker>

      <!-- <agm-marker [latitude]="lat" [longitude]="lng"></agm-marker> -->
    </agm-map>

  </main>
</section>