<section class="businessList">
  <header>
    <main class="search">
      <section class="bar">
        <i class="iconfont icon-search"></i>  
        <input class="bar" type="text" maxlength="30" placeholder="Type to search" (keypress)="setNextBList()">
      </section>
    </main>
  </header>
  <main class="businessList">
    <ul>
      <li *ngFor="let business of filteredBList" class="business">
        <article>
          <div class="avatar">
            <picture>
              ava
            </picture>
          </div>
          <div class="info">
            <h2 [title]="business.name">{{ business.name }}</h2>
            <p>rate: <span>{{ business.stars }}</span> stars</p>
            <p>distance: <span>{{ business.location.distance | number:'1.3' }}</span>m </p>
            <div class="tags">
              <h3>tags:</h3>
              <ul>
                <li>{{ business.categories }}</li>
              </ul>
            </div> 
          </div>
        </article>
      </li>

    </ul>
  </main>
</section>