<section class="businessList">
  <header>
    <main class="search">
      <section class="bar">
        <i class="iconfont icon-search"></i>  
        <input class="bar" type="text" maxlength="30" placeholder="Type to search">
      </section>
    </main>
  </header>
  <main class="businessList">
    <ul>

      <li class="business">
        <article>
          <div class="avatar">
            <picture>
              ava
            </picture>
          </div>
          <div class="info">
            <h2>P'tsite Quebecoise</h2>
            <p>rate: <span>5</span> stars</p>
            <p>distance: <span>10</span>m </p>
            <div class="tags">
              <h3>tags:</h3>
              <ul>
                <li>cafe</li>
                <li>snack</li>
              </ul>
            </div> 
          </div>
        </article>
      </li>

      <li class="business">
          <article>
            <div class="avatar">
              <picture>
                ava
              </picture>
            </div>
            <div class="info">
              <h2>P'tsite Quebecoise</h2>
              <p>rate: <span>5</span> stars</p>
              <p>distance: <span>10</span>m </p>
              <div class="tags">
                <h3>tags:</h3>
                <ul>
                  <li>cafe</li>
                  <li>snack</li>
                </ul>
              </div> 
            </div>
          </article>
      </li>

      <li class="business">
            <article>
              <div class="avatar">
                <picture>
                  ava
                </picture>
              </div>
              <div class="info">
                <h2>P'tsite Quebecoise</h2>
                <p>rate: <span>5</span> stars</p>
                <p>distance: <span>10</span>m </p>
                <div class="tags">
                  <h3>tags:</h3>
                  <ul>
                    <li>cafe</li>
                    <li>snack</li>
                  </ul>
                </div> 
              </div>
            </article>
      </li>

    </ul>
  </main>
</section>