<section class="businessList">
  <header>
    <main class="search">
      <section class="bar">
        <i class="iconfont icon-search"></i>  
        <input class="bar" type="text" maxlength="30" placeholder="Type to search" [(ngModel)]="searchTerm">
      </section>
    </main>
  </header>
  <main class="businessList">
    <ul>
      <li *ngIf="searchTerm.length > 0 && filteredBList.length <= 0" class="business">
        <article class="centered"> No results </article>
      </li>
      <li *ngFor="let business of filteredBList" class="business">
        <article>
          <div class="avatar">
            <picture>
              <i class="iconfont icon-restaurant"></i>
            </picture>
          </div>
          <div class="info">
            <h2 [title]="business.name">{{ business.name }}</h2>
            <p>rate: <span>{{ business.stars }}</span> stars</p>
            <p>distance: <span>{{ business.location.distance | number:'1.3' }}</span>m </p>
            <div class="tags">
              <h3>tags:</h3>
              <ul>
                <li [title]="business.categories">{{ business.categories }}</li>
              </ul>
            </div> 
          </div>
        </article>
      </li>
    </ul>
  </main>
</section>